main h2{
    margin: 20px 0;
    margin-left: 7%;
}
main > .clm {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #00000020;
    margin-left: 20%;
    margin-top: 50px;
    display: block;
    margin-right: 20px;
}