.input{
    width: 300px;
    font-size: 13px;
    padding: .5rem 1rem;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    transition: all 0.4s ease;
}
.input:hover{
    border-color: #0f888f;
}
.input:focus{
    border-color: #0f888f;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(15 136 143 / 35%);
}
